.footer
	padding: 65px 0
	&-logo
		margin-bottom: 30px
	.logo
		&-image
			max-width: 140px
			max-height: 40px
			path
				stroke: black
		&-text
			fill: $black
	&-social
		text-align: center
		+min-screen($mobile)
			text-align: right
	&-copy
		font-size: 16px
		font-weight: 500
		color: $jumbo
		margin-bottom: 40px
		+min-screen($mobile)
			margin-bottom: 0
	&-top
		margin-bottom: 56px
	&_menu
		width: 100%
		&-item

	.footer_submenu
		display: none
		