.hero
	@extend .full-width
	@extend .color-invert-block
	margin-bottom: 64px
	padding: 24px 0 64px
	&-version
		margin-bottom: 40px
		font-size: 14px
		font-weight: 500
	&-header
		line-height: 1
		margin-bottom: 16px
	&-text
		margin-bottom: 40px
		p
			font-size: 16px