<footer class="footer">
  <div class="container">
    <div class="row footer-logo">
      <div class="col-xs-12">
        LOGO
      </div>
    </div>
    <div class="row footer-top">
      <div class="col-md-3 col-xs-12">
        <h4>PRODUCT</h4>
        <ul>
          <li><a href="#">Why Selenise?</a></li>
          <li><a href="#">Why Selenise?</a></li>
          <li><a href="#">Why Selenise?</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-12">
        <h4>USE CASES</h4>
        <ul>
          <li><a href="#">Quick Start</a></li>
          <li><a href="#">For Professionals</a></li>
          <li><a href="#">Contribute to Selenide</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-12">
        <h4>RESOURCES</h4>
        <ul>
          <li><a href="#">News</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Documentation</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-12">
        <h4>EXTRAS</h4>
        <ul>
          <li><a href="#">Privacy &amp; Terms</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
    </div>
    <div class="row footer-bot">
      <p class="footer-bot-left col-xs-12 col-md-6">© 2018 Selenide</p>
      <div class="footer-bot-right col-xs-12 col-md-6">
        there will be icons
      </div>
    </div>
  </div>
<!--   <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div> -->

</footer>
