<footer class="footer">
	<div class="container">
		<div class="row footer-logo">
			<div class="col-xs-12">
				<img class="footer-logo" src="/img/selenide_black_logo.svg">
			</div>
		</div>
		<div class="footer-top">
			<nav class="footer_menu">
				<ul class="row footer_menu-list">
					<li class="footer_menu-item col-sm-3 col-xs-12">
						<a class="footer_menu-link" href="#">PRODUCT</a>
						<ul class="footer_submenu">
							<li class="footer_submenu-item">
								<a class="footer_submenu-link" href="#">Why Selenise?</a></li>
							<li class="footer_submenu-item">
								<a class="footer_submenu-link" href="#">Why Selenise?</a></li>
							<li class="footer_submenu-item">
								<a class="footer_submenu-link" href="#">Why Selenise?</a></li>
						</ul>
					</li>
					<li class="footer_menu-item col-sm-3 col-xs-12">
						<a class="footer_menu-link" href="#">USE CASES</a>
						<ul class="footer_submenu">
							<li class="footer_submenu-item">
								<a class="footer_submenu-link" href="#">Quick Start</a></li>
							<li class="footer_submenu-item">
								<a class="footer_submenu-link" href="#">For Professionals</a></li>
							<li class="footer_submenu-item">
								<a class="footer_submenu-link" href="#">Contribute to Selenide</a></li>
						</ul>
					</li>
					<li class="footer_menu-item col-sm-3 col-xs-12">
						<a class="footer_menu-link" href="#">RESOURCES</a>
						<ul class="footer_submenu">
							<li class="footer_submenu-item">
								<a class="footer_submenu-link" href="#">News</a></li>
							<li class="footer_submenu-item">
								<a class="footer_submenu-link" href="#">Blog</a></li>
							<li class="footer_submenu-item">
								<a class="footer_submenu-link" href="#">Documentation</a></li>
						</ul>
					</li>
					<li class="footer_menu-item col-sm-3 col-xs-12"">
						<a class="footer_menu-link" href="#">EXTRAS</a>
						<ul class="footer_submenu">
							<li class="footer_submenu-item">
								<a class="footer_submenu-link" href="#">Privacy &amp; Terms</a></li>
							<li class="footer_submenu-item">
								<a class="footer_submenu-link" href="#">Contact Us</a></li>
							<li class="footer_submenu-item">
								<a class="footer_submenu-link" href="#">Support</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<div class="row footer-bot">
			<p class="footer-copy col-xs-12 col-sm-6">© 2018 Selenide</p>
			<div class="footer-social col-xs-12 col-sm-6">
				{%- include social.html -%}
			</div>
		</div>
	</div>
</footer>
