<header id="header" class="header" role="banner">
{%- assign default_paths = site.pages | sort: "menu_order" | map: "path"-%}

	<div class="container">
		<div class="row">
			<div class="header-left col-xs-2">
				<a class="logo" rel="author" href="{% if page.lang == site.default_lang %}
											{{site.url | absolute_url }}
										{% else %}
												{{site.url | absolute_url }}/{{ page.lang }}
										{% endif %}">
					{% include selenide-logo.svg %}
				</a>
			</div>

			<div class="header-right col-xs-10">


				{%- if default_paths -%}
					<nav class="header_menu">
						<ul class="header_menu-list">
							{%- for path in default_paths -%}
								{%- assign menu_item = site.pages | where: "path", path | first -%}

								{%- if menu_item.title and menu_item.exclude_from_nav != true and menu_item.lang == page.lang -%}

									<li class="header_menu-item">
										<a href="{{ menu_item.url | absolute_url }}" class="header_menu-link {% if page.url == menu_item.url %} active{% endif %}">{{ menu_item.title | escape }}</a>
										{% comment %}
										<ul class="header_submenu">
											<li class="header_submenu-item">
												<a class="header_submenu-link" href="#">Why Selenise?</a>
											</li>
											<li class="header_submenu-item">
												<a class="header_submenu-link" href="#">Why Selenise?</a>
											</li>
											<li class="header_submenu-item">
												<a class="header_submenu-link" href="#">Why Selenise?</a>
											</li>
										</ul>
										{% endcomment %}
									</li>
								{%- endif -%}
							{%- endfor -%}
						</ul>
					</nav>
				{%- endif -%}

				<div class="lang_switch-wrapper">
					<div class="lang_switch">
						<div class="lang_switch-current">
							<img class="lang_switch-image" src="{{ '/' | absolute_url }}img/flag-{{ page.lang }}.svg" title="{{ page.lang }}" alt="{{ page.lang }}">
							{% comment %}
							<span class="lang_switch-name">
								{{ page.lang }}
							</span>
							{% include lib/svg-icon.html name="arrow" mod="lang_switch-arrow" %}
							{% endcomment %}
						</div>
						<div class="lang_switch-dropdown">
							{% for lang_item in site.languages %}
								{%- assign lang_path = page.lang | prepend: "/" -%}

								{%- if lang_item != page.lang -%}
									<a class="lang_switch-dropdown-item" href="
										{% if lang_item == site.default_lang %}
											{{site.url | absolute_url }}{{ page.url | replace: lang_path, '' }}
										{% else %}
											{{site.url | absolute_url }}/{{ lang_item }}{{ page.url | replace: lang_path, '' }}
										{% endif %}
										">

										<img class="lang_switch-image" src="{{ "/" | absolute_url }}img/flag-{{ lang_item }}.svg" title="{{lang_item}}" alt="{{lang_item}}">
										{% comment %}
										<span class="lang_switch-name">
											{{lang_item}}
										</span>
										{% endcomment %}
									</a>
								{%- endif -%}
							{% endfor %}
						</div>
					</div>
				</div>

				<button class="toggle-menu-button">
					<span></span>
				</button>
			</div>

		</div>
	</div>
</header>
