<header id="header" class="header" role="banner">
{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
{%- assign lang = site.active_lang -%}

	<div class="container">
		<div class="row">
			<div class="header-left col-xs-2">
				<a class="logo" rel="author" href="{{ "/" | absolute_url }}" title="{{ site.title | escape }}">
					{% include selenide-logo.svg %}
				</a>
			</div>

			<div class="header-right col-xs-10">


				{%- if page_paths -%}
					<nav class="header_menu">
						<ul class="header_menu-list">
							{%- for path in page_paths -%}
								{%- assign menu_item = site.pages | where: "path", path | first -%}

								{%- if menu_item.title and menu_item.exclude_from_nav != true -%}

									<li class="header_menu-item">
										<a href="{{ menu_item.url | absolute_url }}" class="header_menu-link">{{ menu_item.title | escape }}</a>
										{% comment %}
										<ul class="header_submenu">
											<li class="header_submenu-item">
												<a class="header_submenu-link" href="#">Why Selenise?</a>
											</li>
											<li class="header_submenu-item">
												<a class="header_submenu-link" href="#">Why Selenise?</a>
											</li>
											<li class="header_submenu-item">
												<a class="header_submenu-link" href="#">Why Selenise?</a>
											</li>
										</ul>
										{% endcomment %}
									</li>
								{%- endif -%}
							{%- endfor -%}
						</ul>
					</nav>
				{%- endif -%}
				
				<span class="lang_switch">
					{% if site.default_lang == site.active_lang %}
					<img class="flag-icon" src="{{ "/" | absolute_url }}img/flag-{{ site.default_lang }}.svg">
					{% else %}
					<img class="flag-icon" src="{{ "/" | absolute_url }}img/flag-{{ site.active_lang }}.svg">
					{% endif%}

					{% for lang in site.languages %}
					<a {% if lang == site.active_lang %} class="lang_switch-current" {% endif %} 
						href="
							{% if lang == site.default_lang %} 
								{{site.url}}{{page.url}}
							{% else %} 
								{{site.url}}/{{ lang }}{{page.url}}
							{% endif %}"
						>
						{{lang}}
					</a>
					{% endfor %}

					{% include lib/svg-icon.html name="arrow-white" %}
				</span>

				<button class="toggle-menu-button">
					<span></span>
				</button>
			</div>
			
		</div>
	</div>
</header>
