%button
	border-radius: 8px
	display: inline-block
	background-color: $pink
	color: $white
	margin: 10px 0
	text-align: center
	border: none
	font-size: 16px
	font-weight: 500
	line-height: 24px
	padding: 16px 10px
	min-width: 200px
	cursor: pointer
	text-decoration: none
	+min-screen($desctop)
		&:hover,
		&.hover-state
			background-color: darken($pink, 8%)
			color: $white
	&:disabled,
	&.disabled-state
		color: $gray-600
		background-color: $gray-200

%mobile-wide-button,
%tablet-wide-button

%button-mobile-wide
	display: block
	min-width: 100%
	+min-screen($mobile)
		display: inline-block
		min-width: 200px
%button-tablet-wide
	display: block
	min-width: 100%
	+min-screen($desctop)
		display: inline-block
		min-width: 200px


.button
	@extend %button
.button-mobile-wide
	@extend %button-mobile-wide
.button-tablet-wide
	@extend %button-tablet-wide

.toggle-menu-button
	width: 28px
	height: 28px
	border: none
	background: transparent
	position: relative
	cursor: pointer
	+min-screen($tablet)
		display: none
	&:focus
		outline:none
	&:after,
	&:before,
	span
		width: 100%
		height: 4px
		border-radius: 100px
		position: absolute
		display: block
		background: $white
	&:after,
	&:before
		content: ""
		transition: 0.3s width 0.4s
	&:after
		top: 0px
		left: 0px
		margin-top: 0px
	&:before
		bottom: 0px
		right: 0px
		margin-bottom: 0px
	span
		top: 50%
		margin-top: -2px
		transition: transform 0.3s
		&:before
			content: ""
			background: $white
			width: 100%
			height: 4px
			border-radius: 100px
			position: absolute
			left: 0px
			transition: transform 0.3s
	.is-menu-show &
		&:after
			transition: all 0.2s
			width: 0%
			left: 0px
		&:before
			transition: all 0.2s
			width: 0
			right: 0
		span
			transform: rotate(45deg)
			transition: 0.3s transform 0.4s
			&:before
				transform: rotate(-90deg)
				transition: 0.3s transform 0.4s

.social-media-list
	li
		display: inline-block
	li + li
		margin-left: 16px
	.icon
		display: inline-block
		font-size: 24px
		fill: $black
		width: 24px
		height: 24px
		+min-screen($desctop)
			&:hover
				fill: $pink


/*Mouse-icon begin*/
.mouse
	display: inline-block
	width: 3.5em
	height: 6em
	border-radius: 100px
	border: 2px solid $white
	cursor: pointer
	transition: border-color 0.3s linear
	&-wheel
		margin-top: 1em
		margin-left: auto
		margin-right: auto
		width: 0.75em
		height: 0.75em
		background-color: $white
		border-radius: 50%
		transition: background-color 0.3s linear
	&-scroll_2
		opacity: 0
		margin-left: auto
		margin-right: auto
		width: 0px
		height: 0px
		border-left: 0.35em solid transparent
		border-right: 0.35em solid transparent
		border-top: 0.4em solid $white
		animation: down2 1s infinite
	&-scroll_3
		opacity: 0
		margin-left: auto
		margin-right: auto
		width: 0px
		height: 0px
		border-left: 0.35em solid transparent
		border-right: 0.35em solid transparent
		border-top: 0.4em solid $white
		animation: down 1s infinite
	&-scroll
		opacity: 0
		margin-left: auto
		margin-right: auto
		width: 0px
		height: 0px
		border-left: 0.35em solid transparent
		border-right: 0.35em solid transparent
		border-top: 0.4em solid $white
		animation: down3 1s infinite
	&:hover,
		border-color: $pink
	&:hover &-wheel
			background-color: $pink
	&:hover	&-scroll,
	&:hover	&-scroll_2,
	&:hover	&-scroll_3
		border-top-color: $pink

@-webkit-keyframes down
	0%
		opacity: 0

	100%
		opacity: 1
		transform: translateY(2.3em)


@-webkit-keyframes down2
	40%
		opacity: 0

	100%
		opacity: 0.5
		transform: translateY(2.3em)


@-webkit-keyframes down3
	60%
		opacity: 0

	100%
		opacity: 0.2
		transform: translateY(2.3em)


@keyframes down
	0%
		opacity: 0

	100%
		opacity: 1
		transform: translateY(2.3em)


@keyframes down2
	40%
		opacity: 0

	100%
		opacity: 0.5
		transform: translateY(2.3em)


@keyframes down3
	60%
		opacity: 0

	100%
		opacity: 0.2
		transform: translateY(2.3em)

/*Mouse-icon end*/