// default layout
@import flexboxgrid


.full-width
	margin-left: -24px
	margin-right: -24px
	+min-screen($desctop)
		margin-left: calc(-50vw + #{$desctop/2 - 24}px)
		margin-right: calc(-50vw + #{$desctop/2 - 24}px)



.vertical-padding
	padding: 64px 0 96px
	+min-screen($tablet)
		padding: 64px 0 140px
	+min-screen($desctop)
		padding: 144px 0
	+min-screen($hdpi)
		padding: 80px 0

.cta-block
	background-color: $white-300
	padding: 56px 0
	margin-top: 40px
	h2
		margin: 0 0 10px

.users-logos
	padding-bottom: 70px
	padding-top: 20px
	div[class^="col-"]
		min-height: 108px
		margin-top: 16px
		+min-screen($tablet)
			margin-top: 0
			min-height: auto
	img
		vertical-align: middle
		+min-screen($tablet)
			max-width: 80%
		+min-screen($desctop)
			max-width: 90%

body,
html
	height: 100vh
	min-height: 100vh

body
	min-width: 320px
	min-height: 320px
	background-color: $white
	font-size: 16px
	display: flex
	flex-direction: column
	+min-screen($mobile)
		overflow-x: hidden

.page-content
	padding-top: 64px
	flex: 1

.row +.row
	margin-top: 60px
//denug begin
// .hero
	// .container
	// 	border: 1px solid $blue-400
	// .row
	// 	border: 1px solid $blue-400
	// .col-xs-6,
	// .col-xs-5,
	// .col-xs-3,
	// .col-xs-4,
	// .col-xs-2,
	// .col-xs
	// 	border: 1px solid $blue-400
	// 	min-height: 100px
	// .box-row
	// 	border: 1px solid $blue-400
	// 	background-color: rgba($blue-400, .3)
//denug end

.image-ilustration
	max-width: 95%
	display: block
	margin: 60px auto 60px

+min-screen($desctop)
	
	%extreme-left-col
		margin-left: $base-padding * -1 !important
		padding-left: $base-padding * 2 !important
	%extreme-right-col
		margin-right: $base-padding * -1 !important
		padding-right: $base-padding * 2 !important

	%row-extreme
		margin-left: $base-padding * -2 !important
		margin-right: $base-padding * -2 !important
		> *:first-child
			padding-left: $base-padding * 2 !important
		> *:last-child
			padding-right: $base-padding * 2 !important

.row-extreme
	@extend .row
	@extend %row-extreme

.container
	@extend .wrapper
	@extend .container-fluid



.hide-on-tablet
	display: block
	+max-screen($desctop + 1)
		display: none

.hide-on-mobile
	display: block
	+max-screen($tablet + 1)
		display: none

.show-on-desctop
	display: none
	+min-screen($desctop + 1)
		display: block

.show-on-tablet
	display: none
	+min-screen($tablet + 1)
		display: block

.clearfix
	*zoom: 1

.clearfix:before,
.clearfix:after
	content: ""
	display: table
	line-height: 0

.clearfix:after
	clear: both

a,
a:before,
.button,
button,
button:before,
input[type="button"],
input[type="submit"]
	transition: border-color .1s ease-in, color .1s ease-in, background-color .1s ease-in



.hide
	display: none !important

.hidden
	display: none
