.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-arrow-white {
	font-size:(9/10)*1rem;
	width:(12/12)*1em;
	color:white;
}
.icon-facebook {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-github {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-twitter {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
