.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-facebook {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-github {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-icon-scroll {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-twitter {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
