.testimonials {

	&-text {
		position: relative;

		&::before,
		&::after {
			content: '';
			position: absolute;
			pointer-events: none;
			touch-action: none;
			width: 5rem;
			height: 5rem;
			
		}
		&::before {
				background: url($left-quote);
				left: 0;
				top: -2.5rem;
				@include min-screen($tablet){
					left: -5rem;
					top: -3rem;
				}
		}

		&::after {
				background: url($right-quote);
				right: 0;
				bottom: -2rem;
				@include min-screen($tablet){
					right: -5rem;
					bottom: -2rem;
				}
		}
	}

}
