//variables
$left-quote: 'data:image/svg+xml,\
	<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80">\
		<path fill="%23AE8FFF" fill-rule="evenodd" d="M58.8 66.8c-3.733 0-6.833-1.3-9.3-3.9-2.467-2.6-3.7-5.833-3.7-9.7 0-2 .2-3.967.6-5.9.4-1.933 1.267-4.7 2.6-8.3l9.6-28h12.6l-7.4 29.8c2.533.933 4.567 2.5 6.1 4.7 1.533 2.2 2.3 4.767 2.3 7.7 0 4-1.267 7.267-3.8 9.8-2.533 2.533-5.733 3.8-9.6 3.8zm-37.8 0c-3.733 0-6.833-1.3-9.3-3.9C9.233 60.3 8 57.067 8 53.2c0-2 .2-3.967.6-5.9.4-1.933 1.267-4.7 2.6-8.3l9.6-28h12.6L26 40.8c2.533.933 4.567 2.5 6.1 4.7 1.533 2.2 2.3 4.767 2.3 7.7 0 4-1.267 7.267-3.8 9.8-2.533 2.533-5.733 3.8-9.6 3.8z" opacity=".4"/>\
	</svg>';

$right-quote: 'data:image/svg+xml,\
	<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80">\
		<path fill="%23AE8FFF" fill-rule="evenodd" d="M21.4 11.4c3.733 0 6.833 1.3 9.3 3.9 2.467 2.6 3.7 5.833 3.7 9.7 0 2-.2 3.967-.6 5.9-.4 1.933-1.267 4.7-2.6 8.3l-9.6 28H9l7.4-29.8c-2.533-.933-4.567-2.5-6.1-4.7C8.767 30.5 8 27.933 8 25c0-4 1.267-7.267 3.8-9.8 2.533-2.533 5.733-3.8 9.6-3.8zm37.8 0c3.733 0 6.833 1.3 9.3 3.9 2.467 2.6 3.7 5.833 3.7 9.7 0 2-.2 3.967-.6 5.9-.4 1.933-1.267 4.7-2.6 8.3l-9.6 28H46.8l7.4-29.8c-2.533-.933-4.567-2.5-6.1-4.7-1.533-2.2-2.3-4.767-2.3-7.7 0-4 1.267-7.267 3.8-9.8 2.533-2.533 5.733-3.8 9.6-3.8z" opacity=".4"/>\
	</svg>';

$button_jumdotron_arrow: 'data:image/svg+xml,\
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve">\
<path style="fill:%23abb2b8;" d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
		C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
		c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>
</svg>';

$comment_icon: 'data:image/svg+xml,\
<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">\
	<path fill="%23ae8fff" d="M256 32C114.6 32 0 125.1 0 240c0 49.6 21.4 95 57 130.7C44.5 421.1 2.7 466 2.2 466.5c-2.2 2.3-2.8 5.7-1.5 8.7S4.8 480 8 480c66.3 0 116-31.8 140.6-51.4 32.7 12.3 69 19.4 107.4 19.4 141.4 0 256-93.1 256-208S397.4 32 256 32z">\
	</path>\
</svg>';
$bg_wave_left: 'data:image/svg+xml,\
<svg width="622px" height="554px" viewBox="0 0 622 554" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">\
  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">\
    <g fill="%23F0F3F5">\
      <path d="M54,61 C116.443601,-13.7567528 289.144249,-31.00676 375.35766,86.0811811 C461.571071,203.169122 610.783512,202.720891 610.783512,274.04443 C610.783512,345.367969 669.740038,404.310367 517.319895,456.788276 C364.899752,509.266185 348.495304,340.472289 233.115251,430.726124 C117.735199,520.979959 38.0511832,586.926408 20,529 C1.94881682,471.073592 -8.44360097,135.756753 54,61 Z" id="Path-3"></path>\
    </g>\
  </g>\
</svg>';

$copy_icon: 'data:image/svg+xml,\
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  width="24" height="24" viewBox="0 0 24 24">\
  <path fill="%23ffffff" d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z" />\
</svg>';

$comment_icon_path: 'd="M256 32C114.6 32 0 125.1 0 240c0 49.6 21.4 95 57 130.7C44.5 421.1 2.7 466 2.2 466.5c-2.2 2.3-2.8 5.7-1.5 8.7S4.8 480 8 480c66.3 0 116-31.8 140.6-51.4 32.7 12.3 69 19.4 107.4 19.4 141.4 0 256-93.1 256-208S397.4 32 256 32z';
// $copy_icon_path: 'M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z';
$copy_icon_path: 'M1664 1632V544q0-13-9.5-22.5T1632 512H544q-13 0-22.5 9.5T512 544v1088q0 13 9.5 22.5t22.5 9.5h1088q13 0 22.5-9.5t9.5-22.5zm128-1088v1088q0 66-47 113t-113 47H544q-66 0-113-47t-47-113V544q0-66 47-113t113-47h1088q66 0 113 47t47 113zm-384-384v160h-128V160q0-13-9.5-22.5T1248 128H160q-13 0-22.5 9.5T128 160v1088q0 13 9.5 22.5t22.5 9.5h160v128H160q-66 0-113-47T0 1248V160Q0 94 47 47T160 0h1088q66 0 113 47t47 113z';


@function create-svg($path, $fill-color, $size: '16') {
	$fill-color: str-slice(inspect($fill-color), 2);
	$fill-color: '%23' + $fill-color;
	$icon: 'data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 version%3D%221%22 viewBox%3D%220 0 #{$size} #{$size}%22%3E%3Cpath fill%3D%22#{$fill-color}%22 d%3D%22#{$path}%22%2F%3E%3C%2Fsvg%3E';
	@return $icon;
}



//Resolution breakpoints
$hdpi: 1440;
$desktop: 1024;
$tablet: 768;
$mobile: 576;

// Margin and Padding
$grid-breakpoints: (
	xs: 0,
	sm: $mobile+px,
	md: $tablet+px,
	lg: $desktop+px,
	xl: $hdpi+px
) !default;


$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 500 !default;
$font-weight-bold: 600 !default;


$enable-gradients: false !default;

// Spacings
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
	0: 0,
	1: ($spacer * .5),
	2: $spacer,
	3: ($spacer * 1.5),
	4: ($spacer * 2),
	5: ($spacer * 3),
	6: ($spacer * 4),
	7: ($spacer * 5),
	8: ($spacer * 6)
), $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge((
	25: 25%,
	50: 50%,
	75: 75%,
	90: 90%,
	100: 100%
), $sizes);


//Animation
$t-s: .6s;
$t-n: .3s;
$t-f: .15s;
$tf-def: linear;
$tf-prt: ease;

//Colors
$baltic-sea: #29282b;
$black: #000000;
$bright-gray: #3a3e4e;
$white: #ffffff;
$alabaster: #f8f8f8;
$jumbo: #7c7b7d;
$gray-chateau: #abb2b8;
$porcelain: #eef0f2;
$heliotropepink: #ae8fff;
$yellow: #fbcb16;
$dark: #2b2f3e;

$text-muted: $bright-gray !default;

$colors: () !default;
$colors: map-merge((
	"baltic-sea": $baltic-sea,
	"black": $black,
	"bright-gray": $bright-gray,
	"white": $white,
	"alabaster": $alabaster,
	"jumbo": $jumbo,
	"gray-chateau": $gray-chateau,
	"porcelain": $porcelain,
	"heliotropepink": $heliotropepink,
	"yellow": $yellow,
	"dark": $dark
), $colors);


$theme-colors: () !default;
$theme-colors: map-merge((
	"baltic-sea": $baltic-sea,
	"black": $black,
	"bright-gray": $bright-gray,
	"white": $white,
	"alabaster": $alabaster,
	"jumbo": $jumbo,
	"gray-chateau": $gray-chateau,
	"porcelain": $porcelain,
	"heliotropepink": $heliotropepink,
	"yellow": $yellow,
	"dark": $dark
), $theme-colors);
// stylelint-enable


//colors-styleguide
.guide_color {
		margin-bottom: 10px;
		overflow: hidden;
		&::before {
			content: '';
			width: 50px;
			height: 50px;
			background-color: currentColor;
			border-radius: 9px;
			border: 2px solid #999;
			float: left;
			margin: 0 15px 10px 0;
		}
		&-name {
			color: #000;
		}
}
