//variables
$left-quote: 'data:image/svg+xml,\
	<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80">\
		<path fill="%23AE8FFF" fill-rule="evenodd" d="M58.8 66.8c-3.733 0-6.833-1.3-9.3-3.9-2.467-2.6-3.7-5.833-3.7-9.7 0-2 .2-3.967.6-5.9.4-1.933 1.267-4.7 2.6-8.3l9.6-28h12.6l-7.4 29.8c2.533.933 4.567 2.5 6.1 4.7 1.533 2.2 2.3 4.767 2.3 7.7 0 4-1.267 7.267-3.8 9.8-2.533 2.533-5.733 3.8-9.6 3.8zm-37.8 0c-3.733 0-6.833-1.3-9.3-3.9C9.233 60.3 8 57.067 8 53.2c0-2 .2-3.967.6-5.9.4-1.933 1.267-4.7 2.6-8.3l9.6-28h12.6L26 40.8c2.533.933 4.567 2.5 6.1 4.7 1.533 2.2 2.3 4.767 2.3 7.7 0 4-1.267 7.267-3.8 9.8-2.533 2.533-5.733 3.8-9.6 3.8z" opacity=".4"/>\
	</svg>';
$right-quote: 'data:image/svg+xml,\
	<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80">\
		<path fill="%23AE8FFF" fill-rule="evenodd" d="M21.4 11.4c3.733 0 6.833 1.3 9.3 3.9 2.467 2.6 3.7 5.833 3.7 9.7 0 2-.2 3.967-.6 5.9-.4 1.933-1.267 4.7-2.6 8.3l-9.6 28H9l7.4-29.8c-2.533-.933-4.567-2.5-6.1-4.7C8.767 30.5 8 27.933 8 25c0-4 1.267-7.267 3.8-9.8 2.533-2.533 5.733-3.8 9.6-3.8zm37.8 0c3.733 0 6.833 1.3 9.3 3.9 2.467 2.6 3.7 5.833 3.7 9.7 0 2-.2 3.967-.6 5.9-.4 1.933-1.267 4.7-2.6 8.3l-9.6 28H46.8l7.4-29.8c-2.533-.933-4.567-2.5-6.1-4.7-1.533-2.2-2.3-4.767-2.3-7.7 0-4 1.267-7.267 3.8-9.8 2.533-2.533 5.733-3.8 9.6-3.8z" opacity=".4"/>\
	</svg>';

$button_jumdotron_arrow: 'data:image/svg+xml,\
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve">\
<path style="fill:%23abb2b8;" d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111\
		C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587\
		c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>
</svg>';

//Resolution breakpoints
$hdpi: 1440;
$desktop: 1024;
$tablet: 768;
$mobile: 576;

// Margin and Padding
$grid-breakpoints: (
	xs: 0,
	sm: $mobile+px,
	md: $tablet+px,
	lg: $desktop+px,
	xl: $hdpi+px
) !default;


$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 500 !default;
$font-weight-bold: 600 !default;


$enable-gradients: false !default;

// Spacings
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
	0: 0,
	1: ($spacer * .5),
	2: $spacer,
	3: ($spacer * 1.5),
	4: ($spacer * 2),
	5: ($spacer * 3),
	6: ($spacer * 4),
	7: ($spacer * 5),
	8: ($spacer * 6)
), $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge((
	25: 25%,
	50: 50%,
	75: 75%,
	90: 90%,
	100: 100%
), $sizes);


//Animation
$t-s: .6s;
$t-n: .3s;
$t-f: .15s;
$tf-def: linear;
$tf-prt: ease;

//Colors
$baltic-sea: #29282b;
$black: #000000;
$bright-gray: #3a3e4e;
$white: #ffffff;
$alabaster: #f8f8f8;
$jumbo: #7c7b7d;
$gray-chateau: #abb2b8;
$porcelain: #eef0f2;
$heliotropepink: #ae8fff;
$yellow: #fbcb16;
$dark: #2b2f3e;

$text-muted: $bright-gray !default;

$colors: () !default;
$colors: map-merge((
	"baltic-sea": $baltic-sea,
	"black": $black,
	"bright-gray": $bright-gray,
	"white": $white,
	"alabaster": $alabaster,
	"jumbo": $jumbo,
	"gray-chateau": $gray-chateau,
	"porcelain": $porcelain,
	"heliotropepink": $heliotropepink,
	"yellow": $yellow,
	"dark": $dark
), $colors);


$theme-colors: () !default;
$theme-colors: map-merge((
	"baltic-sea": $baltic-sea,
	"black": $black,
	"bright-gray": $bright-gray,
	"white": $white,
	"alabaster": $alabaster,
	"jumbo": $jumbo,
	"gray-chateau": $gray-chateau,
	"porcelain": $porcelain,
	"heliotropepink": $heliotropepink,
	"yellow": $yellow,
	"dark": $dark
), $theme-colors);
// stylelint-enable


//colors-styleguide
.guide_color {
		margin-bottom: 10px;
		overflow: hidden;
		&::before {
			content: '';
			width: 50px;
			height: 50px;
			background-color: currentColor;
			border-radius: 9px;
			border: 2px solid #999;
			float: left;
			margin: 0 15px 10px 0;
		}
		&-name {
			color: #000;
		}
}
